[submodule "submodules/exiv2"]
	path = submodules/exiv2
	url = https://github.com/Exiv2/exiv2.git
[submodule "submodules/libheif"]
	path = submodules/libheif
	url = https://github.com/strukturag/libheif.git
[submodule "submodules/FFmpeg"]
	path = submodules/FFmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
